---

---

<script>
    document.querySelector('button').addEventListener('click', ()=>{
        const holaMundo = document.createElement('h1').innerHTML = 'Hola Mundo :D'
        document.querySelector('body').append(holaMundo)
    })
</script>


<body>
    <h1 class="Hola">Hola Mundo :)</h1>
    <button>Crear "Hola Mundo" +</button>
</body>