---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Quienes Somos">
    <main class="mt-[120px] pt-5">
        <h2 class="text-5xl font-bold w-fit mx-auto mb-3"> Quienes Somos </h2>
        <div class="flex justify-center items-center w-3/4 mx-auto mt-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae assumenda accusantium, deserunt consequuntur architecto veniam sapiente nesciunt atque, distinctio expedita et sit officiis aperiam maxime perferendis rerum autem tempora sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fuga optio veniam numquam aut et, laborum iure repellat assumenda quam amet. Illo libero quibusdam sequi nulla vero aut ipsum perspiciatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius assumenda deserunt laborum commodi repellendus sit nesciunt. Cupiditate ullam natus eos modi labore vero, placeat iure quos accusantium earum doloremque sunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, modi? Consectetur natus beatae, voluptatem excepturi illo quasi atque voluptate porro. Aut dolore, modi autem dignissimos harum nostrum ipsum blanditiis fugiat?</p>
        </div>
    </main>
</Layout>